body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    height: 100%;
  }
  
  h1 {
    font-size: 33px;
    font-family: "Dancing Script", cursive;
    color: #069be5;
    padding: 0;
    margin-left: 0;
  }
  p {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    color: #069be5;
    margin-left: 0;
  }
  hr {
    border-top: 3px double;
  }
  
  ul {
    font-size: 18px;
    text-align: center;
    list-style: none;
    color: black;
    font-family: "Dancing Script", cursive;
    position: relative;
    padding-left: 30px;
    padding: 10px;
    margin-top: 5px;
  }
  
  .temperature {
    margin-left: 0;
    font-size: 50px;
    color: #07adeb;
  }
  .form-group {
    font-family: "Dancing Script", cursive;
    margin-left: -70px;
  }
  .Research {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    padding: 10px 15px;
    margin-left: -10px;
  }
  .card {
    text-align: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 20px;
    border-width: 2px;
    border-color: #07adeb;
    margin-left: 25px;
  }
  .day{
    color: #07adeb;
    font-style: italic;
    font-variant: small-caps;
    font-size: 20px;
  }
  
  .precipitation {
    font-family: "Dancing Script", cursive;
    color: #131210;
    font-size: 16px;
    margin-left: 0;
  }

  .signature{
    font-size: 12px;
    margin-left: 10px;
    color: #131210;
    font-style: oblique;
  }
  