header{
  position: absolute;
  top: 10%;    
  left:0;
  right:0;
  margin:0 auto;
  width: 50%;
  height: 100px;
  border:thin solid black;
  text-overflow:ellipsis;
  overflow:hidden;
}

body {
    max-height: 100%;
    max-width: 100%;
    font-family: 'Swanky and Moo Moo', cursive;
    position: static;
  }
  
  h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #ffffff;
    padding: 0;
    margin-left: 0;
  }
  p {
    font-size: 20px;
    color: #ffffff;
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  
  h2{
    font-size: 20px;
    text-align: left;

  }
li{
  color: #ffffff;
  list-style: none;
}
  
  em{
    font-size: 20px;
    color: #ffffff;
    
  }
 
  .fit-class{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100px;

  }
  .form-group {
    margin-top: -80px;
    position: absolute;
  }

  .Research {
    font-size: 20px;
    padding: 10px 5px;
    margin-top: -80px;
    position: absolute;
      
  }
  .card {
    text-align: center;
    background-image: 
    url("https://images.pexels.com/photos/1616126/pexels-photo-1616126.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=600");
    border-radius: 20px;
    border-width: 1px;
    border-color:#ffffff;
    position: relative;
    
  }
  .view{
    margin-top: 20px;
  }
  .day{
    color:#ffffff;
    font-style: italic;
    font-variant: small-caps;
    font-size: 20px;
  }

  .description {
    font-size: 10px;
    color: #ffffff;
    font-family: 'Swanky and Moo Moo', cursive;
  }
  
  .temperature img{
    margin: 0;
    padding-left: 0;
    height: 40px;
    width: 60px;
  }
  .temperature {
    margin-left: -60px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #ffffff;
  }

  .units .active{
    font-size: 20px;
    color:#E0B1E6;
    font-weight: bolder;
    cursor: default;
  }
  .units .active:hover{
    text-decoration: none;
  }
  .units a{
    color: #ffffff;
    position: relative;
    font-size: 20px;
    top: -20px;
    text-decoration: none;
    cursor: default;   
  }
  
  .precipitation {
    color: #ffffff;
    font-size: 20px;
    margin-left: 0;
    margin-top: 35px;
  }

  .row {
    font-size: 30px;
    color: #ffffff;
  }

 
  .weather-forecast-temperature{
    
    margin-left: 0px;
    font-size: 20px;
  }
  .image{
    height: 60px;
    width: 60px;
    margin-left: -10px;
  }
  .signature{
    font-size: 12px;
    margin-left: -70px;
    margin-top: 20px;
    color: #ffffff;
    font-style: oblique;
  }