body {
    max-height: 100%;
    max-width: 100%;
    font-family: "Dancing Script", cursive;
}
  
  h1 {
    font-size: 33px;
    color: #ffffff;
    padding: 0;
    margin-left: 0;
  }
  p {
    font-size: 25px;
    color: #ffffff;
    margin-left: 0;
    margin-bottom: 20px;

  }
  em{
    color: #ffffff;
    font-size: 16px;
  }
  hr {
    border-top: 3px double;
  }
  
  ul {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    list-style: none;
    color : #ffffff;
    position: relative;
    padding-left: 30px;
    padding: 10px;
    margin-top: -95px;
  }
  
  .fit-class{
    float: top;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100px;

  }
  .form-group {
    margin-left: -70px;
    margin-top: -50%;
  }
  .Research {
    font-size: 20px;
    padding: 10px 15px;
    margin-left: -10px;
    margin-top: -50%;
  }
  .card {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1616126/pexels-photo-1616126.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    border-radius: 20px;
    border-width: 2px;
    border-color:#325D91;
    position: relative;
    margin-top: -10%;
    margin-left: -75px;
    
  }
  .view{
    margin-top: 20px;
  }
  .day{
    color:#ffffff;
    font-style: italic;
    font-variant: small-caps;
    font-size: 20px;
  }
  
  .temperature img{
    margin-right: 0;
    height: 64px;
    width: 64px;
  }
  .temperature {
    margin-left: -60px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #ffffff;
  }
  .units a{
    color: #ffffff;
    position: relative;
    font-size: 15px;
    top: -25px;
  }

  .precipitation {
    font-family: "Dancing Script", cursive;
    color: #ffffff;
    font-size: 16px;
    margin-left: 0;
    margin-top: 40px;
  }

  .signature{
    font-size: 12px;
    margin-left: 20px;
    color: #ffffff;
    font-style: oblique;
  }
  